<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='todoapp.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='todoapp.js') }}"></script>
    <title>ToDo App</title>
</head>
<body>
    {% if tasks.__len__() == 0 %}
        <p id="no_tasks_message"><b><i>You will see your tasks here!</i></b></p>
    {% else %}
        <table>
            <tr>
                <th>Task</th>
                <th>Person responsible</th>
                <th>Priority</th>
                <th>Delete</th>
            </tr>
        {% for task in tasks %}
            <tr class="task" id="{{ task.item_id }}">
                <td>{{ task.task_description }}</td>
                <td class="person_responsible">{{ task.email }}</td>
                <td class="priority">{{ task.priority.capitalize() }}</td>
                <td class="delete">
                    <form method="post">
                        <button type="button" class="button delete_task_button">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    <hr>
    <div id="new_task_form">
        <form method="post">
            <fieldset>
                <legend>Task description</legend>
                <input type="text" id="task_description_input" name="task_description_input" placeholder="Task description..." required>
            </fieldset>
            <fieldset>
                <legend>The person responsible for the task</legend>
                <input type="email" id="email_input" name="email_input" placeholder="Email of the person..." required>
            </fieldset>
            <fieldset>
                <legend>Task's priority:</legend>
                <ul id="priority_input">
                    <li values="low">Low</li>
                    <li values="medium" id="selected_priority">Medium</li>
                    <li values="high">High</li>
                </ul>
            </fieldset>
            <button type="button" class="button" id="add_task_button">+ Add Task</button>
        </form>
    </div>
</body>
</html>
